[Unit]
Description=Gunicorn service
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/opt/flaskapp-sample
ExecStart=/opt/flaskapp-sample/36/bin/gunicorn --workers 3 --bind unix:flaskapp.sock -m 007 app:app